<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Railsmiths Mobile! 🚀</h1>
    <p>
      Thanks for joining our waitlist! You're now first in line to get access to Railsmiths Mobile
      when we launch.
    </p>

    <h2>What's Next?</h2>
    <ul>
      <li>We'll keep you updated on our progress</li>
      <li>You'll get early access when we launch</li>
      <li>You'll receive our exclusive early-bird discount</li>
    </ul>

    <p>
      <small>
        If you didn't sign up for Railsmiths Mobile, you can
        <a href="<%= @unsubscribe_url %>">unsubscribe here</a>.
      </small>
    </p>
  </body>
</html>
